<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/indexcss.css" type="text/css">
  <link rel="stylesheet" href="css/errrorpage.css">
  <link rel="stylesheet" href="css/theme.css" type="text/css">
</head>

<body class="w-100 h-100" style="">
  <div class="pt-5">
    <div class="container w-100 mt-5">
      <div class="row h-50 w-100 mt-0">
        <div class="col-md-6">
          <h1 class="mt-5 font-weight-bolder">PAGE SAY THERE IS ERROR</h1>
          <p>we are sorry, but the page you requested got some error.Please Error Below.<br></p>
          <p class="font-weight-bold error" th:text="'Error Code :'+ ${errorcode}"><br></p>
          <p class="font-weight-bold error" th:text="'Error Message :'+ ${errormessage}"><br></p>
          <a class="btn btn-primary" th:href="@{${url}}">Go To HomePage</a>
        </div>
        <div class="col-md-6 h-50 w-50"><img class="img-fluid d-block" src="images/404-image.png"></div>
      </div>
    </div>
  </div>
</body>
</html>