<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap 4 Compact Table</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/theme.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Train ID</th>
<th>Name</th>
<th>Sources</th>
<th>Destination</th>
<th>ArrivalTime</th>
<th>Fare</th>
<th>No Of Seats Available</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="trains : ${trainDetails}">
              <td th:text="${trains.trainid}"></td>
<td th:text="${trains.trainname}"></td>
<td th:text="${trains.sourcestn}"></td>
<td th:text="${trains.desstn}"></td>
<td th:text="${trains.arrivalString}"></td>
<td th:text="${trains.fare}"></td>
<td th:text="${trains.noOfSeats}"></td>   
<td><a class="btn btn-primary" th:href="${'/bookticket/'+trains.trainid}"><i class="far fa-eye"></i></a>
</button><td> 
            </tr>         
        </tbody>
    </table>
</div>
</body>
</html>                            