<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>TicketBooking</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/theme.css" type="text/css">
</head>
<body>
  <nav class="navbar navbar-expand-md sticky-top bg-dark text-center navbar-dark">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar6" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar6"> <a class="navbar-brand text-primary d-none d-md-block" href="#" target="_blank">
          <i class="fa d-inline fa-lg fa-circle" aria-hidden="true"></i>
          <b>E-Ticket Booking System</b>
        </a>
        <ul class="navbar-nav navbar-right text-center ml-auto">
          <li class="nav-item text-right"> <a class="nav-link" href="#">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Log out</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="" th:text="'Welcome '+ ${name}"><span class="badge badge-pill orange"><i class="fa fa-heart text-danger" aria-hidden="true"></i></span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5 class="">Please Select Your Train Below</h5>
        </div>
        <div class="col-md-6">
          <form class="form-inline ml-5 pl-5">
            <div class="input-group w-100 ml-5">
              <input type="text" class="form-control w-25" id="inlineFormInputGroup" placeholder="Please Enter train id">
              <div class="input-group-append"><button class="btn btn-primary ml-2" type="button"><i class="fa fa-search" aria-hidden="true"></i></button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>TrainID</th>
                  <th>Name</th>
                  <th>Sources</th>
                  <th>Destination</th>
                  <th>ArrivalTime</th>
                  <th>Fare</th>
                  <th>SeatsAvailable</th>
                  <th class="">Book</th>
                </tr>
              </thead>
              <tbody>
            <tr th:each="trains : ${trainDetails}">
              <td th:text="${trains.trainid}"></td>
<td th:text="${trains.trainname}"></td>
<td th:text="${trains.sourcestn}"></td>
<td th:text="${trains.desstn}"></td>
<td th:text="${trains.arrivalString}"></td>
<td th:text="${trains.fare}"></td>
<td th:text="${trains.noOfSeats}"></td> 
                   <td>
                    <a class="btn btn-primary badge badge-primary" th:href="${'/bookticket/'+trains.trainid}"><i class="fa fa-train"></i>
Book Ticket
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>