<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/theme.css" type="text/css">
</head>

<body>
  <div class="py-5">
    <div class="container w-75">
      <div class="row w-100">
        <div class="col-md-12 w-100">
          <div class="card">
            <div class="card-header font-weight-bolder"> Thank you for Using E-ticket Systems</div>
            <div class="card-body rounded">
              <h4>Ticket Booking Confirmation</h4>
              <div class="list-group w-75">
                <p class="list-group-item list-group-item-action active">Your Ticket Details</p>
                <div class="list-group-item list-group-item-action">
                  <h6 class="font-weight-bolder">Ticket ID <mark class="m-3" th:text="${id}"></mark></h6>
                </div>
                <p  class="list-group-item list-group-item-action font-weight-bolder">Ticket Reference Number</p>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                        <h6 class="font-weight-bolder">Source</h6>
                        </div>
                        <div class="col-md-6">
                        <h6 class="font-weight-bold" th:text="${source}"></h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <h6 class="font-weight-bolder">Destination</h6>
                        </div>
                        <div class="col-md-6">
                          <h6 class="font-weight-bold" th:text="${dest}"></h6>
                            </div>
                      </div>
                    </div>
                  </div>
                </a><a href="#" class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <h6 class="font-weight-bolder">Arrival Time</h6></div>
                        <div class="col-md-6">
                          <h6 class="font-weight-bold" th:text="${arrtime}"></h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6 font-weight-bolder">Departure Time</div>
                        <div class="col-md-6">
                          <h6 class="font-weight-bold" th:text="${deptime}"></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <div class="list-group-item list-group-item-action">
                  <h6 class="font-weight-bolder">No Of Ticket Booked <small class="font-weight-bold m-4" th:text="${noticket}"></small></h6>
                </div>
                <a class="list-group-item list-group-item-action" >
                  <h6 class="font-weight-bolder">Total Amount<small class="font-weight-bold m-5" th:text="${amount}"></small></h6>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>